@import "~bootstrap/scss/bootstrap";

.modal {
  display: block;
  background-color: #0000005f;
}

img {
  max-width: 180px;
  height: auto;
}

label {
  padding-right: 10px;
}

.line__content {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  min-height: 200px;
  & .line__content__info {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }
}

.click-link {
  cursor: pointer;
  & :hover {
    color: orange;
  }
}

.reset-filter {
  width: 200px;
  margin: 5px;
  margin-top: 10px;
  padding: 2px 5px;
  border: 1px solid darkgreen;
  color: darkgreen;
  text-transform: capitalize;
  text-align: center;
}

.reset-filter:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid white;
}

.no-image {
  margin-top: 10px;
  color: grey;
  border: solid 1px grey;
  padding: 3px 5px;
}

.btn__box {
  & > * {
    margin-left: 5px;
    margin-top: 10px;
  }
}

.msg-bin {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  .toast {
    display: block;
    margin: 10px;
  }
}

.comment-status {
  margin: 5px;
}

.navbar-brand {
  cursor: pointer;
}

.menu-btn {
  display: none;
}

.navbar #hidden {
  display: flex;
}

@media only screen and (max-width: 995px) {
  .menu-btn {
    display: block;

    border: 2px solid white;
    border-radius: 4px;
  }

  .navbar-nav {
    display: none;
  }

  .navbar #hidden {
    position: absolute;
    left: 0px;
    top: 56px;
    max-height: 250px;
    width: 100%;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
}
